/*MAIN*/

.Homee img {
    width: 100%;

}

.titulo__lost {
    h3{
    text-align: center;
    padding-top: 15px;
    font-size: 30px;
    margin: 0;
    color:goldenrod;
    
    
    }
    
    p{
    display: flex;
    text-align: center;
    margin: 0;
    font-size: 17px;
    margin-top: 20px;
    }

}

.titulo__acerca {
    h3{
        text-align: center;
        padding-top: 15px;
        margin: 0;
        color:goldenrod;
    }
    p{
        text-align: center;
        margin: 0;
        margin-top: 15px;
        font-size: 20px;
    }   
}

.titulo__hot {
    h3 {
        text-align: center;
        padding-top: 15px;
        margin: 0;
        color:goldenrod;
    }
    p{
        text-align: center;
        margin: 0;
        padding-bottom: 20px;
        font-size: 20px;
        padding-top: 15px;
    }
}

.Homee{
    color: #eee;
    background-color: #191919;
    
}
